header
  section.hello
    .title
      h1 #{ meta.title }
      p Cade is a designer and researcher who focuses on emergent technology, privacy, user empowerment, computer art and socially responsible design. He has led projects in Australia, Singapore, Japan and the United States.
      p His practice is forged in socially conscious and humane design, creating work that empowers others to uncompromisingly embrace the joys of the electric world.
      p He is Design Lead at #[a(href="https://spideroak.com") SpiderOak] and consults with clients of all sizes.
      .hr ✕ ✕ ✕
      .contact
        h2 Contact
        ul
          li email: #[a(href="mailto:#{ contacts.email }") #{ contacts.email }].
          li tel/signal: #[a(href="tel://#{ contacts.tel }") #{ contacts.tel }].
          li pgp: #[a(href="/key.txt") here], and #[a(href=" #{ contacts.keybase }") on keybase].
  section.image
